/* === Normalize */
@import url('normalize.css');

/* === General === */

body {
  font-family: Roboto, sans-serif;
  line-height: 1.5;
}

.container {
  max-width: 1344px;
  margin: 0 auto;
  padding: 0 24px;
}

:root {
  --accent-color: #00868A;
  --accent-color2: #4FBFA5;

}

section {
  margin: 40px 0;
}

section:first-child {
  margin: 0 0 40px;
}


/* === Header === */

.header {
  background-color: #fff;
}

.header__inner {
  width: 100%;
  height: 90px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__logo {
  /*width: 200px;*/
  height: 100%;
  display: flex;
  align-items: center;


  position: relative;
}

.header__logo img {
  width: 75%;
  height: 75%;
}

.header__logo p {
  font-size: 30px;
  text-transform: uppercase;

  padding: 0 5px 0;
}

.header a {
  display: block;

  font-size: 16px;
  line-height: 1.2;
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.header .eye {
  width: 270px;
  height: auto;
  padding: 10px 0;

  font-size: 14px;
  text-align: center;
  color: white;
  text-transform: uppercase;
  cursor: pointer;

  background-color: var(--accent-color);
}

.header .icon {
  font-size: 1.5em;
  color: var(--accent-color2);
}


/* === Intro === */
.intro {
  width: 100%;
  height: auto;

  background-color: var(--accent-color2);
}

.intro__nav {
  display: flex;
  justify-content: space-between;

  padding: 40px 0;
}

.nav__items {
  display: block;

  font-size: 18px;
  color: white;
}

.nav__btn {
  display: block;
  width: 175px;
  height: auto;
  padding: 5px 0;

  font-size: 18px;
  text-align: center;
  color: black;
  text-decoration: none;

  background-color: white;

  transition: all linear 0.33s;
}

.nav__btn:hover {
  color: white;
  background-color: black;
}

/* === Slider === */
.intro__slider {
  width: 100%;
  display: flex;
  justify-content: space-between;
}


.slider__inner {
  width: 40%;
  position: relative;
}

.description {
  color: white;
}

.description__title {
  font-size: 48px;
  margin: 80px 0 40px;
  padding: 0;
}

.description__text {
  font-size: 14px;
  margin: 0 0 40px;
  padding: 0;
}

.description a {
  width: 165px;
  padding: 15px 20px;

  font-size: 16px;
  text-transform: uppercase;
  font-weight: 400;
  color: white;
  cursor: pointer;

  background-color: var(--accent-color);
}

.photo {
  width: 50%;
  line-height: 0;
}

.photo img {
  max-width: 100%;
  height: auto;
}

.slider__btns {
  position: absolute;
  top: 65%;
  right: 0;

}

.slider__btn {
  display: inline-block;
  margin: 0 15px 0 0;

  font-size: 60px;
  color: white;
}

.slider__btns:last-child {
  margin: 0;
}

/* === Subtitle === */
.intro__subtitle {
  display: flex;
  /*margin: -6px 0 0;*/
  font-size: 21px;
  color: white;
}

.subtitle__btn {
  width: 25%;
  padding: 20px 0;

  text-align: center;
  background-color: var(--accent-color);
  cursor: pointer;
}

.subtitle__btn:first-child {
  width: 50%;
}

.subtitle__btn:nth-child(2) {
  background-color: var(--accent-color2);
}


/* === Course === */
.we {
  display: flex;

}

.course {
  height: 580px;
  width: 530px;

  background-color: var(--accent-color);
}

.suptitle {
  display: inline-block;
  padding: 10px 15px;

  font-size: 18px;
  color: white;
  line-height: 1.2;

  background-color: var(--accent-color2);

  transform: translate(35px, 35px);
}

.course__title {
  font-size: 30px;
  color: white;

  padding: 30px 40px 10px;
}

.more {
  display: flex;
  margin-left: 30px;
  padding: 10px;

  cursor: pointer;
}

.more p {
  margin-left: 10px;

  font-size: 16px;
  line-height: 0;
  text-transform: uppercase;
  color: white;
}

.more p:hover {
  text-decoration: underline;
}

.icon {
  color: white;
  font-size: 20px;
}

.course .course__img {
  width: 100%;
  height: 300px;

  overflow: hidden;
}

.course__img img {
  max-width: 100%;
  background-size: cover;
}